In [1]:
#Example: Refer the example 10.1 in page 339
import numpy as np
import pandas as pd
import scipy.stats as stats

In [9]:
#h0:mu mean time of local and chain pizza restaurants are equal
#ha:mu mean time of local and chain pizza restaurants are not equal

pizza = pd.read_excel("PizzaTime.xlsx")

In [3]:
pizza.head()

   Time  Local   Chain
0     1    16.8   22.0
1     2    11.7   15.2
2     3    15.6   18.7
3     4    16.7   15.6
4     5    17.5   20.8

In [4]:
stats.shapiro(pizza['Local '])

(0.9727442264556885, 0.9150571227073669)

In [5]:
stats.shapiro(pizza['Chain'])

(0.9577153325080872, 0.7595410943031311)

In [6]:
#Both holds good for normality
#We go for t_test

In [7]:
a = stats.ttest_rel(pizza['Local '],pizza['Chain'])

In [8]:
a

Ttest_relResult(statistic=-3.0447930464454114, pvalue=0.013909593560837055)

In [10]:
#P-Value less that 0.05 and hence we reject null hypothesis for 95% confidence interval
#mean time of local and chain pizza restaurants are not equal

# Exercise 29: Do the exercise 10.8 in page 343

In [16]:
#h0: walker crisp higher than alternative
#ha: walker crisp lesser than alternative

def muc(z,sigma,n,xbar):
        s = xbar - ((z)*(sigma)/n**0.5)
        return s

In [18]:
mu1 = muc(1.96,21.4,51,36)
mu2 = muc(-1.96,21.4,51,36)

In [19]:
mu3 = muc(1.96,12.8,41,25)
mu4 = muc(-1.96,12.8,41,25)

In [20]:
print(mu1,mu2)

30.12666521555292 41.87333478444708

In [21]:
print(mu3,mu4)

21.081912661738652 28.918087338261348

In [22]:
#Since the population mean varies from each other big time we reject null hypothesis

In [27]:
#Mean difference between each sample 
muo = muc(1.645,21.4,51,36)
muo1 = muc(1.645,12.8,41,25)
muo - muo1

9.358988750522684

# Exercise 30: Do the exercise 10.12 in page 344

In [28]:
#h0: Waiting time of both banks are equal
#h1: waiting time of banks differs
bank1 = pd.read_excel("Bank1.xlsx")
bank2 = pd.read_excel("Bank2.xlsx")

In [29]:
bank1.head()

   Waiting Time
0          4.21
1          5.55
2          3.02
3          5.13
4          4.77

In [30]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [33]:
wai = stats.ttest_ind(bank1['Waiting Time'],bank2['Waiting Time'])

In [34]:
wai

Ttest_indResult(statistic=-4.1343062768616825, pvalue=0.00029283923510711144)

In [35]:
#p-value less than 0.05 and hence the waiting time differs between branch

In [36]:
#Curve should be normal

In [42]:
sigma = bank1.std()
xbar = bank1.mean()
z = 1.645
n = 15

mubank1 = muc(z, sigma,n, xbar)

In [41]:
sigma = bank2.std()
xbar = bank2.mean()
z = 1.645
n = 15

mubank2 = muc(z, sigma,n, xbar)

In [43]:
print(mubank1,mubank2)

Waiting Time    3.590953
dtype: float64 Waiting Time    6.230283
dtype: float64

# Exercise 31: Do the exercise 10.24 in page 352

In [44]:
#Density noes not differ
#density differs
myloma = pd.read_excel("Myeloma.xlsx")

In [45]:
myloma.head()

   Patient  Before   After
0        1      158    284
1        2      189    214
2        3      202    101
3        4      353    227
4        5      416    290

In [55]:
s = stats.ttest_1samp(myloma['Before ']- myloma['After'], popmean=0)

In [56]:
s

Ttest_1sampResult(statistic=1.8424550291027728, pvalue=0.11498626687185708)

In [48]:
#pvalue is greater than 0.05 and hence we do not reject the null hypothesis that desity does not differ

In [49]:
myloma['Before '].mean()

312.14285714285717

In [50]:
myloma['After'].mean()

226.0

# Exercise 32: Do the exercise 10.50 in page 364

In [57]:
#h0: The rate does not differ
#h1: The rate differs
fiveyearcredit = pd.read_excel("FiveYearCDRate.xlsx")

In [58]:
fiveyearcredit.head()

     NY    LA
0  1.50  1.50
1  1.45  1.01
2  1.25  1.00
3  1.01  0.75
4  1.00  0.40

In [69]:
a = stats.ttest_ind(fiveyearcredit['NY'],fiveyearcredit['LA'])

In [64]:
stats.shapiro(fiveyearcredit['NY'])

(0.9033935070037842, 0.23861978948116302)

In [68]:
fiveyearcredit['LA'].dropna(inplace = True)

In [70]:
a

Ttest_indResult(statistic=0.4382725043220865, pvalue=0.6670484737538931)

In [ ]:
#